# IDE
.idea/

# Sqlite database
db.sqlite3

# Diretório media
media/

# Byte-compiled / optimized / DLL files
# Ver: https://github.com/github/gitignore/blob/master/Python.gitignore
__pycache__/
*.py[cod]
*$py.class
